:root {
    /* font-color-variables */
    --main-font-color: rgb(34, 34, 34);
    --font-color-white: rgb(255, 255, 255);


    a,
    a:link,
    a:visited,
    a:hover,
    a:active {
        //color: var(--main-font-color);
    }

}